@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --red: #d63a25;
  --white: #fff;
  --dark: #1e1c2a;
}

body {
  color: var(--dark);
  background: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}